---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.jsx";
import Item from "@/components/Item.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>About Us</h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <Card client:load>
      <Item title="my default item" />
      <Item title="my content item" slot="content" />
    </Card>
    <p>après card</p>
  </main>
</Layout>

<style>
  @import "@/styles/index.scss";
</style>
