# Virtual environment
.venv
.env

# Static files
staticfiles/
media/

# Vite
okp/admin/static/
okp/admin/frontend/node_modules/
okp/admin/frontend/package-lock.json

# Logs
logs/

# Database
*.sqlite3

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
