anyascii==0.3.2
asgiref==3.6.0
astroid==2.15.4
beautifulsoup4==4.11.2
boto3==1.26.133
botocore==1.29.133
certifi==2023.5.7
charset-normalizer==3.1.0
django-cors-headers==4.0.0
coverage==7.2.5
defusedxml==0.7.1
dill==0.3.6
Django==4.2.1
django-autoslug==1.9.9
django-colorfield==0.8.0
django-cors-headers==4.0.0
django-filter==22.1
django-modelcluster==6.0
django-modeltranslation==0.18.9
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
exceptiongroup==1.1.1
filetype==1.2.0
flake8==6.0.0
html5lib==1.1
idna==3.4
iniconfig==2.0.0
isort==5.12.0
jmespath==1.0.1
l18n==2021.3
lazy-object-proxy==1.9.0
mccabe==0.7.0
openpyxl==3.1.2
packaging==23.1
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
psycopg2-binary==2.9.6
py==1.11.0
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytest==7.3.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-html==3.2.0
pytest-metadata==2.0.4
python-dateutil==2.8.2
pytz==2023.3
requests==2.30.0
s3transfer==0.6.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
telepath==0.3
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.5.0
urllib3==1.26.15
wagtail==5.0
wagtail-modeltranslation==0.14.0
webencodings==0.5.1
Willow==1.5
wrapt==1.15.0
