$okp-success: #569725;
$okp-error: #d11414;
$okp-warning: #c07e1b;
$okp-info: #1d7197;

$okp-tier0: #3F3A37; // Darker Grey
$okp-tier1: #867b73; // Grey
$okp-tier2: #377237; // Green
$okp-tier3: #337099; // Blue
$okp-tier4: #996633; // Orange
$okp-tier5: #66309c; // Violet
$okp-tier6: #9c2727; // Red

$okp-card-bg: #191919;
$okp-card-fg: #A8A098;
